@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<hr />
<address>
    <strong>Для получения роли администратора необходимо:</strong>
    <ul>
        <li>Попасть на путь <strong>.../Roles/Create</strong>, после чего добавить роль <strong>admin</strong></li>
        <li>Попасть на путь <strong>.../Roles/UserList</strong> и изменить роли вашего пользователя</li>
    </ul>
    <strong>Готово! У вас есть права администратора!</strong>
</address>
<p>Этот сайт был создан для управления мероприятиями которые должны создаваться, настраиваться и использоваться для записи участников мероприятий.</p>
