@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Этот сайт был создан для управления мероприятиями которые должны создаваться, настраиваться и использоваться для записи участников мероприятий.</p>
<p>P.S.: Я просто сюда написал основную концепцию сайта, потому что не хочу постоянно лазить в Viber, чтобы читать ТЗ тестового задания.</p>
