@{
    ViewBag.Title = "О сайте";
}
<h2>@ViewBag.Title</h2>
<h6>@ViewBag.Message</h6>
<hr />
<address>
    <strong>Для получения роли администратора необходимо:</strong>
    <ul>
        <li>Попасть на путь <a href="/Roles/Create">.../Roles/Create</a>, после чего добавить роль <strong>admin</strong></li>
        <li>Попасть на путь <a href="/Roles/UserList">.../Roles/UserList</a> и изменить роли вашего пользователя</li>
    </ul>
    <strong>Готово! У вас есть права администратора!</strong>
</address>
<p>Этот сайт был создан для управления мероприятиями которые должны создаваться, настраиваться и использоваться для записи участников мероприятий.</p>
