@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />
<address>
    <strong>Разработал:</strong> Юрий Ткачик<br />
    <abbr title="Phone">Тел:</abbr>
    +375 (44) 748-20-03
</address>

<address>
    <strong>Почта создателя:</strong> <a href="mailto:tkachik.2003@gmail.com">tkachik.2003@gmail.com</a><br />
    <strong>Почта бота:</strong> <a href="mailto:eventsplanningbot@yandex.by">eventsplanningbot@yandex.by</a><br /><br />
    <strong>Для получения роли администратора необходимо:</strong>
    <ul>
        <li>Попасть на путь <strong>.../Roles/Create</strong>, после чего добавить роль <strong>admin</strong></li>
        <li>Попасть на путь <strong>.../Roles/UserList</strong> и изменить роли вашего пользователя</li>
    </ul>
    <strong>Готово! У вас есть права администратора!</strong>
</address>