@model IEnumerable<EventsPlanning.Models.ApplicationUser>

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                @Html.ActionLink("Права доступа", "Edit", "Roles")
                @*user.Id*@
            </td>
        </tr>
    }
</table>