@model IEnumerable<EventsPlanning.Models.ApplicationUser>
@{
    ViewBag.Title = "Список пользователей";
}

<h2>Список пользователей</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td class="align-middle">@user.Email</td>
            <td class="align-middle">
                <a href="/Roles/Edit?userId=@user.Id" class="btn btn-primary">Права доступа</a>
            </td>
        </tr>
    }
</table>